body
{
    background-color: darkgrey;
    margin: 50px 100px;
}

#outside
{
    background-color: lightgray;
    padding-top: 20px;
}

fieldset
{
    border: solid 5px darkred;
    padding: 1em;
}

legend
{
    color:black;
    font-variant: small-caps;
}

.btn
{
    background-color: darkred;
    border-color: darkred;
}

.err
{
    color: darkred;
    visibility: hidden;
}

#mailType
 {
     visibility: hidden;
 }

#log
{
    background-color: lightgray;
}

.navbar-toggler
{
    font-size: 16px;
    color: white;
}
.bg-dark
{
    background-color: lightslategrey !important;
}

#logo-title
{
    background-color: rgb(33, 37, 41);
    box-sizing: border-box;
    margin-left: 4px;
    margin-right: 4px;
    padding: 14px 16px;
    color: white;
    line-height: 24px;
}

#menubtn
{
    color: white;
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: white;
}

li a:hover {
    background-color: lightgrey;
}